# Turn rewrite engine on
	Options +FollowSymlinks
	RewriteEngine on

# map neat URL to internal URL
	RewriteRule ^users/$   Controller/UsersController.php?method=get&action=all [nc,qsa]
	RewriteRule ^users/([0-9]+)/$   Controller/UsersController.php?method=get&action=single&id=$1 [nc,qsa]